<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Booking PoC</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <script src="/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <h2>Users online: <span id="users"></span></h2>
        <h1>Free Tickets: <span id="tickets"></span></h1>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="handle" placeholder="Who am I?" required>
                </div>
                <div class="col-sm-2">
                    <button id="reserve" type="button" class="btn btn-primary">Reserve</button>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    const socket = io.connect("http://<%= ip %>:9090");
    const tickets = document.querySelector("#tickets");
    const users = document.querySelector("#users");
    const handle = document.querySelector("#handle");
    const reserve = document.querySelector("#reserve");

    reserve.addEventListener("click", () => {
        socket.emit("reserve-action", { handle: handle.value });
        handle.value = "";
    });

    socket.emit("get-free-tickets-quantity");

    socket.on("put-free-tickets-quantity", quantity => {
        tickets.innerHTML = quantity;
    });
    socket.on("put-users-quantity", usersOnline => {
        users.innerHTML = usersOnline;
    });
    socket.on("alert", data => {
        alert(data.message);
    });
</script>

</html>
